@model TandooriRecipe.Models.RecipeModel

@{
    Layout = "_Layout";
}

@if (Model != null)
{
    <div class="pie-recipe__tips">
        <h4> @Model.Name  </h4>
        <div class="pie-recipe__tips__text">
            @Model.Author
        </div> <br> 
        <div class="pie-recipe__tips__text">
            @Model.Directions
        </div> <br> 
        @foreach(var review in Model.Reviews)
        {
            <div class="pie-recipe__tips">
                <div class="pie-recipe__tips__text">
                    @review
                </div>
            <br> 
            </div>
        }
    </div>
      
}

