@model TandooriRecipe.Models.RecipeModel

@using System.Linq


@{
    Layout = "_Layout";
}

@if (Model != null)
{
<div class="pie-recipe__tips">
    <h4> @Model.Name  </h4>
    <div class="pie-recipe__tips__text">
        @Model.Author
    </div> <br>
    <div class="pie-recipe__tips__text">
        @Model.Description
    </div> <br>

    @foreach (var ingredient in Model.RecipeIngredients)
    {
        <div class="pie-recipe__tips">
            <div class="pie-recipe__tips__text">
                @ingredient
            </div>
            <br>
        </div>
    }


    @foreach (var review in Model.ReviewsDescription)
    {
        <div class="pie-recipe__tips">
            <div class="pie-recipe__tips__text">
                @review
            </div>
            <br>
        </div>
    }
</div>

}

