@model IEnumerable<TandooriRecipe.Models.RecipeModel>

@{
    ViewData["Title"] = "Tandoori Recipe Home";
    Layout="_Layout";
}


@foreach (TandooriRecipe.Models.RecipeModel item in Model) 
{
    <div class="pie-recipe__tips">
        <h4> @item.Name  </h4>
        <div class="pie-recipe__tips__text">
            @item.Description
        </div> <br> 
        <a asp-action="DisplayRecipe" asp-route-id="@item.RecipeId"><p class="pie-recipe__number"> See Full Recipe </p> </a> 
    </div>
}
            
