    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - Tandoori Recipes</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss/dist/tailwind.min.css">
        <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Raleway" /> 
        <environment include="Development">
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        </environment>
        <environment exclude="Development">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
                  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
                  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>
            <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
        </environment>
    </head>
    <style>
        .draw-border {
        	 box-shadow: inset 0 0 0 4px #58afd1;
        	 color: #58afd1;
        	 transition: color 0.25s 0.0833333333s;
        	 position: relative;
        }
         .draw-border::before, .draw-border::after {
        	 border: 0 solid transparent;
        	 box-sizing: border-box;
        	 content: '';
        	 pointer-events: none;
        	 position: absolute;
        	 width: 0;
        	 height: 0;
        	 bottom: 0;
        	 right: 0;
        }
         .draw-border::before {
        	 border-bottom-width: 4px;
        	 border-left-width: 4px;
        }
         .draw-border::after {
        	 border-top-width: 4px;
        	 border-right-width: 4px;
        }
         .draw-border:hover {
        	 color: #ffe593;
        }
         .draw-border:hover::before, .draw-border:hover::after {
        	 border-color: #ffe593;
        	 transition: border-color 0s, width 0.25s, height 0.25s;
        	 width: 100%;
        	 height: 100%;
        }
         .draw-border:hover::before {
        	 transition-delay: 0s, 0s, 0.25s;
        }
         .draw-border:hover::after {
        	 transition-delay: 0s, 0.25s, 0s;
        }
         .btn {
        	 background: none;
        	 border: none;
        	 cursor: pointer;
        	 line-height: 1.5;
        	 font: 700 1.2rem 'Roboto Slab', sans-serif;
        	 padding: 1em 2em;
        	 letter-spacing: 0.05rem;
        }
         .btn:focus {
        	 outline: 2px dotted #55d7dc;
        }
         
    </style>
    <body>
    
    <nav class="menu" tabindex="0">
        <header class="avatar">
            <img src="/images/ChefAvatar.jpg"/>
            <h2 style="color: #fbcd03;"> TR </h2>
        </header>
        <ul>
            <li>
                <div class="md:flex bg-teal-100 rounded-lg p-3">
                    <a class="text-lg text-purple-800" asp-controller="TandooriRecipe" asp-action="Index"> Home </a>
                </div>
            </li>
            <br>
            <li>
                <div class="md:flex bg-teal-100 rounded-lg p-3">
                    <a class="text-lg text-purple-800" asp-controller="TandooriRecipe" asp-action="AddRecipe"> Add Recipe</a>
                </div>
            </li>
            <br>
            <li>
                <div class="md:flex bg-teal-100 rounded-lg p-3">
                    <a class="text-lg text-purple-800" asp-controller="TandooriRecipe" asp-action="About"> About </a>
                </div>
            </li>
            <br>
            <br>
            <li>
                <div class="md:flex bg-teal-100 rounded-lg p-3">
                    <a class="text-lg text-purple-800" asp-controller="TandooriRecipe" asp-action="SearchView"> Favourites </a>
                </div>
            </li>
            <br>-->
        </ul>
    </nav>
    <div>
        <form asp-action="Search" method="post">
            <div class="row input-group">
                <input type="text" name="name" id="name" class="form-control"/>
                <div class="input-group-btn">
                    <button type="submit" asp-controller="TandooriRecipe" asp-route-searchRecipe="false" asp-action="Search" class="btn draw-border">  Search Ingredient  </button>
                    <button type="submit" asp-controller="TandooriRecipe"  asp-route-searchRecipe="true" asp-action="Search" class="btn draw-border"> Search Recipe </button>
                </div>
            </div>
        </form>
    </div>
    <div>
    <main>
              @RenderBody()
      <p class="text-center text-gray-500 text-xs">
          <footer>
            <center>
                  <p style="color:#111">&copy; 2019 - Recipe App </p>
            </center>
          </footer>
      </p>
    </main>
    </div>


    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
    <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
