@model TandooriRecipe.Models.ViewsModel.LoginModel
@{
    ViewBag.Title = "Log In";
    Layout = null; 
}
<link rel="stylesheet" href="/css/form.css">



@* <div class="" asp-validation-summary="All"></div> *@

<form asp-action="Login" asp-controller="Account" method="post"> 
    <div class="container" onclick="onclick">
        <div class="top"></div>
        <div class="bottom"></div>
        <div class="center">
            <h2>Please Sign In</h2>
            <div><span asp-validation-for="Name" class="text-danger"></span></div>
            <input placeholder="Name"  type="text" asp-for="Name"  />
            <input placeholder="password"  asp-for="Password" type="password" />
            <div><span asp-validation-for="Password" class="text-danger"></span></div>
            <h2>&nbsp;</h2>
            <br><br><br>
            <button  type="submit"> Submit </button>
        </div>
    </div>
</form>

<br>
<br>

<div style="margin-top: 1000px; margin-left: 620px;" class="heading--stroke heading--halftone heading--halftone-color" asp-validation-summary="All"></div>

